<%= render 'afiliate' %>

<h1>Afiliados</h1>
 
<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Cedula</th>
    <th>Telefono</th>
    <th>Email</th>
    <th>Empresa</th>
  </tr>
 
  <% @afiliate.each do |afiliate| %>
    <tr>
      <td><%= afiliate.name %></td>
      <td><%= afiliate.lastname %></td>
      <td><%= afiliate.CI %></td>
      <td><%= afiliate.phone %></td>
      <td><%= afiliate.email %></td>
      <td><%= afiliate.business %></td>
    </tr>
  <% end %>
</table>