<div class="thin-box"></div>
<div class="menu-select">
	<div class="menu-select-inner">
		<p>Contáctanos</p>
	</div>

</div>
<div class="thin-box2"></div>
<div class="registration-form">
	<ziv class="registration-form-inner">
		<%= simple_form_for @contact do |f| %>
		<div class="col-md-8 col-md-offset-2">
			<%= f.label :Nombre %>
			<%= f.input :name, label: false, :required => false %>
			<%= f.label :Email %>
			<%= f.input :email, label: false, :required => false %>
			<%= f.label :Asunto %>
			<%= f.input :subject, label: false, :required => false %>
			<%= f.label :Mensaje %>
			<%= f.input :message, label: false, :as => :text, :required => false %>
			<%= f.button :submit, 'ENVIAR' %>
		<% end %>
		</div>
	</div>
</div>
<div class="thin-box3"></div>
<div class="social-segment">
	<div class="social-segment-inner">
		<div class="social-box">
			<%= image_tag('sobre.png') %>
			<p>info@ajevenezuela.org</p>
		</div>
		<div class="social-box">
			<%= image_tag('twitter.png') %>
			<p>@AjeVenezuela</p>
		</div>
		<div class="social-box">
			<%= image_tag('instagram.png') %>
			<p>@Ajevenezuela</p>
		</div>
		<div class="social-box">
			<%= image_tag('facebook.png') %>
			<p>/AjeVenezuela</p>
		</div>
	</div>
</div>
