
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contacto</title>
	<link href="../assets/stylesheets/contact.scss" rel="stylesheet">
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">



</head>
<body>

	<nav class= "navbar navbar-default" style="background-color: #fff;">
		<div class="logo">
			<!-- Brand and toggle get grouped for better mobile display -->
			<%= image_tag('logo2.png') %>
		</div>
		<div class="menu-texto">
			<ul>
				<li><a href="#">Quienes somos</a></li>
				<li><a href="#">C칩digo de honor</a></li>
				<li><a href="#">Eventos</a></li>
				<li><a href="#">Afiliaci칩n</a></li>
				<li><a href="#">Cont치cto</a></li>
			</ul>
		</div>
	</nav>
	<div class="thin-box"></div>
	<div class="menu-select">
		<div class="menu-select-inner">
			<p>Cont치ctanos</p>
		</div>

	</div>
	<div class="thin-box2"></div>
	<div class="registration-form">
		<div class="registration-form-inner">
			<div class="registration-label">
				<p>Nombre</p>
				<div class="input group">
					<input type="text" class="form-control" placeholder="" style="width: 450px; height: 50px; border: none;">
				</div>
			</div>
			<div class="registration-label">
				<p>Email</p>
				<div class="input group">
					<input type="text" class="form-control" placeholder="" style="width: 450px; height: 50px; border: none;">
				</div>
			</div>
			<div class="registration-label">
				<p>Asunto</p>
				<div class="input group">
					<input type="text" class="form-control" placeholder="" style="width: 450px; height: 50px; border: none;">
				</div>
			</div>
			<div class="registration-label">
				<p>Mensaje</p>
				<div class="input group">
					<input type="text" class="form-control" placeholder="" style="width: 450px; height: 100px; border: none;">
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>

<%= simple_form_for @contact do |f| %>
	<%= f.label :Nombre %>
	<%= f.input :name, label: false, :required => false %>
	<%= f.label :Email %>
	<%= f.input :email, label: false, :required => false %>
	<%= f.label :Asunto %>
	<%= f.input :subject, label: false, :required => false %>
	<%= f.label :Mensaje %>
	<%= f.input :message, label: false, :as => :text, :required => false %>
	<%= f.button :submit, 'ENVIAR' %>
<% end %>

