
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contacto</title>
	<link href="../assets/stylesheets/contact.scss" rel="stylesheet">
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">



</head>
<body>
	<div class="thin-box"></div>
	<div class="menu-select">
		<div class="menu-select-inner">
			<p>Contáctanos</p>
		</div>

	</div>
	<div class="thin-box2"></div>
	<div class="registration-form">
		<div class="registration-form-inner">
			<div class="registration-label">
				<p style="
				margin-right: 400px;">Nombre</p>
				<div class="input group">
					<input type="text" class="form-control" placeholder="" style="width: 450px; height: 50px; border: none;margin-left:480px;">
				</div>
			</div>
			<div class="registration-label">
				<p style="
				margin-right: 400px;">Email</p>
				<div class="input group">
					<input type="text" class="form-control" placeholder="" style="width: 450px; height: 50px; border: none;margin-left:480px;">
				</div>
			</div>
			<div class="registration-label">
				<p style="
				margin-right: 400px;">Asunto</p>
				<div class="input group">
					<input type="text" class="form-control" placeholder="" style="width: 450px; height: 50px; border: none;margin-left:480px;">
				</div>
			</div>
			<div class="registration-label">
				<p style="
				margin-right: 400px;">Mensaje</p>
				<div class="input group">
					<input type="text" class="form-control" placeholder="" style="width: 450px; height: 100px; border: none; margin-left:480px;">
				</div>
			</div>
			<div class="enviar-button" style="margin-left: 480px;">
				<div class="enviar-button-inner">
					<p>Enviar</p>
				</div>
			</div>
		</div>
	</div>
	<div class="thin-box3"></div>
	<div class="social-segment">
		<div class="social-segment-inner">
			<div class="social-box">
				<%= image_tag('sobre.png') %>
				<p>info@ajevenezuela.org</p>
			</div>
			<div class="social-box">
				<%= image_tag('twitter.png') %>
				<p>@AjeVenezuela</p>
			</div>
			<div class="social-box">
				<%= image_tag('instagram.png') %>
				<p>@Ajevenezuela</p>
			</div>
			<div class="social-box">
				<%= image_tag('facebook.png') %>
				<p>/AjeVenezuela</p>
			</div>
		</div>
		
	</div>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>

<%= simple_form_for @contact do |f| %>
<%= f.label :Nombre %>
<%= f.input :name, label: false, :required => false %>
<%= f.label :Email %>
<%= f.input :email, label: false, :required => false %>
<%= f.label :Asunto %>
<%= f.input :subject, label: false, :required => false %>
<%= f.label :Mensaje %>
<%= f.input :message, label: false, :as => :text, :required => false %>
<%= f.button :submit, 'ENVIAR' %>
<% end %>

