<!-- agregar estilo de bootstrap o el que sea necesario -->

<div class="col-sm-12 banner-head">
	Mentores
</div>
<div class="container">
	<div class="inner-container">
		<div class="row mentors-container">
            <% @mentors.each do |m| %>
                <div class="col-sm-3 mentor-box">
                    <div class="mentor">
                        <div class="mentorAvatar">
                        <!-- insertar la imagen de cada mentor -->
                            <%= image_tag m.avatar.url(:medium), class: "img-responsive avatarMentor" %>
                            <div class="socialHover">
                                <a href="<%= m.twitter ? m.twitter : '#' %>">
                                    <i class="fa fa-twitter fa-3x img-circle twitter s-hover"></i>
                                </a>
                                <a href="<%= m.facebook ? m.facebook : '#' %>">
                                    <i class="fa fa-facebook fa-3x img-circle facebook s-hover"></i>
                                </a>
                                <a href="<%= m.instagram ? m.instagram : '#' %>">
                                    <i class="fa fa-instagram fa-3x img-circle instagram s-hover"></i>.
                                </a>
                            </div>
                        </div>
                        <div class="mentor-description">
                            <p class="mentor-name">
                                <%= m.name %> <%= m.lastname %>
                            </p>
                            <p>
                                <%= truncate m.description, length: 100 %>
                                <div type="button" class="btn btn-xs see-more-mentor" data-toggle="modal" data-target="#<%= m.id %>">
                                    Ver mas
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="<%= m.id %>" tabindex="-1" role="dialog" aria-labelledby="<%= m.name %>" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title name-mentor-modal"><%= m.name %> <%= m.lastname %></h4>
                      </div>
                      <div class="modal-body">
                        <div class="img-mentor-modal">
                            <%= image_tag m.avatar.url(:medium), class: "img-responsive avatarMentor" %>
                        </div>
                        <p class="description-mentor-modal">
                            <%= m.description %>
                        </p>
                      </div>
                      <div class="modal-footer">
                        <div class="social-modal">
                        <a href="<%= m.twitter %>">
                            <i class="fa fa-twitter fa-3x img-circle twitter"></i>
                        </a>
                        <a href="<%= m.facebook %>">
                            <i class="fa fa-facebook fa-3x img-circle facebook"></i>
                        </a>
                        <a href="<%= m.instagram %>">
                            <i class="fa fa-instagram fa-3x img-circle instagram"></i>.
                        </a>
                        </div>
                        <div type="button" class="btn btn-default" data-dismiss="modal">
                          <strong>Close</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
		</div>
    </div>
</div>
