<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #fff;">
  <div class="container">
    <div class="navbar-header">
		  <%= image_tag('logo2.png') %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      	<%if current_page?('/') %>
      		<li><a href="#quienes-somos">Quienes Somos</a></li>
      	<%else%>
          <li><%= link_to "Quienes Somos", root_path %></li>
      	<%end%>	
        <li><%= link_to "Mentores", mentor_path %></li>
        <li><a href="#">Código de honor</a></li>
        <li><a href="#">Eventos</a></li>
        <li><%= link_to "Afiliación", afiliate_path %></li>
        <li><%= link_to "Contácto", contact_path %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
