<!DOCTYPE html>
<html>
<head>
  <title>Aje</title>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<% if request.ssl? %>
    	<%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' %>
    	<%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js' %>
  	<% else %> 
    	<%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' %>
    	<%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js' %>
  	<% end %>
    
    <!-- font-awesome - cdn -->
      <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' %>

    <!-- Font Roboto Light - cdn -->
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto:300' %>
    
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  	<%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header_nav" %>


<%= yield %>


<%= render "layouts/footer" %>
</body>
</html>
